.u-section-1 .u-sheet-1 {
  min-height: 1543px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-group-1 {
  width: 582px;
  min-height: 370px;
  height: auto;
  margin: -516px 17px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 42px 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.8125rem;
  margin: 50px auto 0 26px;
}

.u-section-1 .u-countdown-1 {
  margin: 26px 0 0 auto;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 38px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-1 .u-text-3 {
  text-align: left;
  margin: 130px 0 0;
}

.u-section-1 .u-text-4 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-text-5 {
  text-align: left;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 376px;
}

.u-section-2 .u-text-1 {
  margin: 12px auto 0 20px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 12px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(
      33.3333% - 6.66667px
    );
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-3 {
  text-align: center;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-5 {
  text-align: center;
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-7 {
  text-align: center;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 463px;
}

.u-section-3 .u-text-1 {
  margin: 28px auto 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 367px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 15px 27px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px 27px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 27px auto 0 201px;
  padding: 10px 16px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 26px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 15px 27px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 12px 27px 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 0 201px;
  padding: 10px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(
        25% - 7.5px
      );
    min-height: 303px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 1px;
  }

  .u-section-3 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    border-style: none;
    margin-left: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(
      25% - 7.5px
    );
  min-height: 367px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-4 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 15px 27px 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 7px 22px 0 31px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 28px 0 7px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 22px 22px 0 auto;
  padding: 10px 16px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 26px;
}

.u-section-4 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 15px 27px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 7px 22px 0 31px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: 10px 28px 0 7px;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px 22px 0 auto;
  padding: 10px 16px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 26px;
}

.u-section-4 .u-icon-5 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 15px 27px 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  margin: 7px 22px 0 31px;
}

.u-section-4 .u-text-10 {
  font-size: 1.125rem;
  margin: 10px 28px 0 7px;
}

.u-section-4 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px 22px 0 auto;
  padding: 10px 16px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0 26px;
}

.u-section-4 .u-icon-7 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  margin: 15px 27px 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.125rem;
  margin: 7px 22px 0 31px;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  margin: 10px 28px 0 7px;
}

.u-section-4 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px 22px 0 auto;
  padding: 10px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 303px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    border-style: none;
    margin-right: 0;
  }

  .u-section-4 .u-icon-5 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    border-style: none;
    margin-right: 0;
  }

  .u-section-4 .u-icon-7 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-4 {
    border-style: none;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 928px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 549px;
}

.u-section-5 .u-text-1 {
  margin: 41px auto 0 37px;
}

.u-section-5 .u-image-1 {
  width: 533px;
  height: 365px;
  margin: 27px auto 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 233px;
  }
}
